.App {
  text-align: center;
}

.navbar{
  display: flex!important;
  justify-content: space-around!important;
  background-color: rgb(216, 215, 215);
  margin-bottom: 20px;
  align-items: center!important;
}

img{
  height: 200px;
}

